### 최종 실습 프로젝트
- ecommerce_sales_data.csv 파일 활용

당신은 유능한 쇼핑몰 데이터 분석가입니다.
당신은 한 온라인 쇼핑몰의 데이터 분석가로 고용되었다. 쇼핑몰의 판매 데이터를 분석하여 고객의 구매 패턴을 파악하고, 중요한 인사이트를 도출하는 것이 이번 프로젝트의 목표다. 이를 통해 향후 마케팅 전략을 제시하고자 한다. ecommerce_sales_data.csv 파일을 통해 주어진 데이터는 고객의 주문 기록, 상품 정보, 판매 데이터 등을 포함하고 있다. 
각 컬럼은 [데이터 설명]과 같다. 
주어진 데이터를 분석하여 아래의 질문에 답하라.


[데이터 설명]:
    - **OrderID**: 주문 ID
    - **Product**: 주문한 상품 이름
    - **Category**: 상품의 카테고리 (예: Electronics, Clothing 등)
    - **Quantity**: 주문 수량
    - **Price**: 상품의 가격
    - **CustomerID**: 고객 ID
    - **BirthDate**: 고객 생일
    - **OrderDate**: 주문 날짜
    - **Country**: 주문한 고객의 국가
    - **DiscountRate**: 할인율

[조건]
1. 코드를 제공할 때 쉽고 이해하기 쉽게 주석을 제공할 것
2. 코드는 초보자도 이해하기 쉽게 간결한 스타일로 작성할 것
3. 한번에 복사 및 붙여넣기 하기 쉽게 마지막에 정리를 추가할 것
4. 코드는 한줄에 전부 쓰지말고, 가독성 좋게 작성할 것
5. 쥬피터 컴퓨터임
6. 시각화를 요청한다면, 라벨이나 설명을 한글로 작성할 것

- **데이터 설명**:
    - **OrderID**: 주문 ID
    - **Product**: 주문한 상품 이름
    - **Category**: 상품의 카테고리 (예: Electronics, Clothing 등)
    - **Quantity**: 주문 수량
    - **Price**: 상품의 가격
    - **CustomerID**: 고객 ID
    - **BirthDate**: 고객 생일
    - **OrderDate**: 주문 날짜
    - **Country**: 주문한 고객의 국가
    - **DiscountRate**: 할인율

1. **데이터 탐색 및 전처리**
    1. 데이터셋을 로드하고 상위 5개의 데이터를 출력하세요.
    2. 결측값이 있는 열이 있는지 확인하고, 결측값이 있는 경우 적절한 방법으로 처리하세요.
    3. 각 열의 데이터 타입을 확인하고, **OrderDate** 열을 datetime 형식으로 변환하세요.

In [4]:
import pandas as pd
df = pd.read_csv('data/ecommerce_sales_data.csv', index_col='OrderID')
df.head(5)

,Product,Category,Quantity,Price,CustomerID,Birthdate,OrderDate,Country,DiscountRate
OrderID,,,,,,,,,
1,역사책,Books,5,37000,1071,1980-08-08,2024-06-10 17:18,미국,0.14
2,셔츠,Clothing,5,20000,1526,1967-08-09,2023-11-18 18:45,독일,0.29
3,노트북,Electronics,4,8000,1252,1973-04-07,2023-10-15 11:19,중국,0.23
4,자전거,Sports,1,8000,1670,1970-04-08,2024-07-19 2:19,일본,0.20
5,헤드폰,Electronics,3,26000,1838,1992-05-19,2024-01-20 20:34,대한민국,0.09

In [8]:
missing = df.isnull().sum()
missing[missing > 0]
df_filled = df.fillna(df.mean(numeric_only=True))
df_filled.head()

,Product,Category,Quantity,Price,CustomerID,Birthdate,OrderDate,Country,DiscountRate
OrderID,,,,,,,,,
1,역사책,Books,5,37000,1071,1980-08-08,2024-06-10 17:18,미국,0.14
2,셔츠,Clothing,5,20000,1526,1967-08-09,2023-11-18 18:45,독일,0.29
3,노트북,Electronics,4,8000,1252,1973-04-07,2023-10-15 11:19,중국,0.23
4,자전거,Sports,1,8000,1670,1970-04-08,2024-07-19 2:19,일본,0.20
5,헤드폰,Electronics,3,26000,1838,1992-05-19,2024-01-20 20:34,대한민국,0.09

In [10]:
print(df.dtypes)

Product          object
Category         object
Quantity          int64
Price             int64
CustomerID        int64
Birthdate        object
OrderDate        object
Country          object
DiscountRate    float64
dtype: object

In [12]:
df['OrderDate']

OrderID
1      2024-06-10 17:18
2      2023-11-18 18:45
3      2023-10-15 11:19
4       2024-07-19 2:19
5      2024-01-20 20:34
             ...
116    2024-03-01 16:57
117    2024-01-18 21:37
118    2024-09-29 12:27
119     2024-06-10 9:01
120    2024-06-29 10:28
Name: OrderDate, Length: 120, dtype: object

In [13]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])

2. **매출 분석**
    1. **매출액**(총 판매 금액)을 계산하는 새로운 열 `TotalRevenue`를 생성하세요.
        - 매출액 = `Quantity` * `Price`
    2. 월별 총 매출액을 집계하여 시각화하세요.
        - 힌트: `resample()`을 사용하여 월별로 데이터를 집계하세요.
    3. 카테고리별로 매출액이 가장 높은 상위 3개의 카테고리를 구하세요.
    4. 국가별 총 매출액을 계산하고, 매출액이 가장 높은 5개 국가를 출력하세요.

In [14]:
df['TotalRevenue'] = df['Quantity'] * df['Price']

In [18]:
# 1. OrderDate가 datetime 형식인지 확인
df['OrderDate'] = pd.to_datetime(df['OrderDate'])

# 2. OrderDate를 인덱스로 설정
df = df.set_index('OrderDate')

# 3. 월별 총 매출액 집계 ('TotalRevenue'가 매출액 열)
monthly_revenue = df['TotalRevenue'].resample('M').sum()

# 결과 확인
print(monthly_revenue)

KeyError: 'OrderDate'

3. 카테고리별로 매출액이 가장 높은 상위 3개의 카테고리를 구하세요.

In [19]:
# 카테고리별 매출액 합계 구하기
category_revenue = df.groupby('Category')['TotalRevenue'].sum()

# 매출액 기준 내림차순 정렬 후 상위 3개 추출
top3_categories = category_revenue.sort_values(ascending=False).head(3)

print(top3_categories)

Category
Food           1966000
Electronics    1746000
Beauty         1493000
Name: TotalRevenue, dtype: int64

4. 국가별 총 매출액을 계산하고, 매출액이 가장 높은 5개 국가를 출력하세요.

In [20]:
# 1. 국가별 매출액 합계 계산
country_revenue = df.groupby('Country')['TotalRevenue'].sum()

# 2. 매출액으로 내림차순 정렬 후 상위 5개 추출
top5_countries = country_revenue.sort_values(ascending=False).head(5)

print(top5_countries)

Country
미국      2238000
독일      1973000
중국      1766000
일본      1523000
대한민국    1419000
Name: TotalRevenue, dtype: int64

In [21]:
top5_countries_df = (
    df.groupby('Country', as_index=False)['TotalRevenue'].sum()
      .sort_values('TotalRevenue', ascending=False)
      .head(5)
)
print(top5_countries_df)

  Country  TotalRevenue
2      미국       2238000
1      독일       1973000
4      중국       1766000
3      일본       1523000
0    대한민국       1419000

3. **고객 분석**
    1. 고객별로 총 매출액을 계산한 후, 상위 5명의 고객을 출력하세요.
    2. 주문 횟수가 가장 많은 상위 5명의 고객을 출력하세요.
    3. **연령대**에 따라 고객을 분류하고, 각 연령대별로 가장 많이 구매한 상품의 카테고리를 구하세요.
        - 힌트: 고객의 연령대는 따로 제공되지 않으므로, 가정 데이터를 추가해 임의로 분류할 수 있습니다.

In [24]:
top5_customers_df = (
    df.groupby('CustomerID', as_index=False)['TotalRevenue'].sum()
      .sort_values('TotalRevenue', ascending=False)
      .head(5)
)
print(top5_customers_df)

    CustomerID  TotalRevenue
0         1007        334000
33        1354        245000
16        1141        241000
69        1589        215000
74        1632        192000

In [27]:
top5_customer_ids = (
    df.groupby('CustomerID')
      .size()
      .sort_values(ascending=False)
      .head(5)
      .index.tolist()
)

print(top5_customer_ids)

[1007, 1141, 1673, 1508, 1421]

In [31]:
import pandas as pd
from datetime import datetime


# 현재 날짜 (분석 시점 기준)
today = pd.to_datetime('2024-10-23')

# Birthdate를 datetime으로 변환
df['Birthdate'] = pd.to_datetime(df['Birthdate'])

# 나이 계산 함수 정의
def calculate_age(birthdate, today):
    return today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))

# '나이' 컬럼 추가
df['나이'] = df['Birthdate'].apply(lambda x: calculate_age(x, today))

# 연령대 분류 함수 정의
def age_group(age):
    if age < 20:
        return '10대'
    elif age < 30:
        return '20대'
    elif age < 40:
        return '30대'
    elif age < 50:
        return '40대'
    elif age < 60:
        return '50대'
    else:
        return '60대 이상'

# '연령대' 컬럼 추가
df['연령대'] = df['나이'].apply(age_group)

# 결과 확인 (상위 5개 출력)
print(df[['CustomerID', 'Birthdate', '나이', '연령대']].head())

                     CustomerID  Birthdate  나이  연령대
OrderDate
2024-06-10 17:18:00        1071 1980-08-08  44  40대
2023-11-18 18:45:00        1526 1967-08-09  57  50대
2023-10-15 11:19:00        1252 1973-04-07  51  50대
2024-07-19 02:19:00        1670 1970-04-08  54  50대
2024-01-20 20:34:00        1838 1992-05-19  32  30대

In [33]:
# 필요한 라이브러리 불러오기
import pandas as pd
from datetime import datetime



# 현재 날짜 지정
today = pd.to_datetime('2024-10-23')

# Birthdate를 datetime으로 변환
df['Birthdate'] = pd.to_datetime(df['Birthdate'])

# 나이 계산 함수
def calculate_age(birthdate, today):
    return today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))

# '나이' 컬럼 추가
df['나이'] = df['Birthdate'].apply(lambda x: calculate_age(x, today))

# 연령대 분류 함수
def age_group(age):
    if age < 20:
        return '10대'
    elif age < 30:
        return '20대'
    elif age < 40:
        return '30대'
    elif age < 50:
        return '40대'
    elif age < 60:
        return '50대'
    else:
        return '60대 이상'

# '연령대' 컬럼 추가
df['연령대'] = df['나이'].apply(age_group)

# 각 연령대별로 카테고리별 구매수량 집계
grouped = df.groupby(['연령대', 'Category'])['Quantity'].sum().reset_index()

# 각 연령대별로 가장 많이 구매한 카테고리 찾기
idx = grouped.groupby('연령대')['Quantity'].idxmax()
most_purchased_categories = grouped.loc[idx].reset_index(drop=True)

# 결과 표시
print("각 연령대별로 가장 많이 구매한 상품의 카테고리")
print(most_purchased_categories[['연령대', 'Category', 'Quantity']])

각 연령대별로 가장 많이 구매한 상품의 카테고리
      연령대     Category  Quantity
0     20대         Food        16
1     30대         Food        29
2     40대        Books        26
3     50대     Clothing        23
4  60대 이상  Electronics         3

4. **상품 분석**
    1. 가장 많이 판매된 상위 5개의 상품을 출력하세요.
    2. **카테고리별**로 가장 많이 판매된 상품을 찾아 출력하세요.
    3. **평균 구매 수량**이 가장 높은 상위 3개의 상품을 출력하세요.

In [34]:
# 상품별로 구매수량 합산
product_sales = df.groupby('Product')['Quantity'].sum().reset_index()

# 수량 기준으로 내림차순 정렬 후 상위 5개 추출
top5_products = product_sales.sort_values(by='Quantity', ascending=False).head(5)

# 결과 출력
print("가장 많이 판매된 상위 5개 상품")
print(top5_products)

가장 많이 판매된 상위 5개 상품
   Product  Quantity
8       셔츠        25
5      립스틱        22
9       소설        21
14     역사책        20
24      커피        20

In [35]:
# 카테고리+상품별로 구매수량 합산
cat_prod_sales = df.groupby(['Category', 'Product'])['Quantity'].sum().reset_index()

# 각 카테고리별로 수량이 가장 많은 상품 찾기
idx = cat_prod_sales.groupby('Category')['Quantity'].idxmax()
top_products_by_category = cat_prod_sales.loc[idx].reset_index(drop=True)

# 결과 출력
print("카테고리별로 가장 많이 판매된 상품")
print(top_products_by_category[['Category', 'Product', 'Quantity']])

카테고리별로 가장 많이 판매된 상품
      Category Product  Quantity
0       Beauty     립스틱        22
1        Books      소설        21
2     Clothing      셔츠        25
3  Electronics     노트북        15
4         Food      커피        20
5       Sports    요가매트        12

In [36]:
# 상품별로 평균 구매 수량 계산
avg_quantity = df.groupby('Product')['Quantity'].mean().reset_index()

# 평균 구매 수량 기준 내림차순 정렬 후 상위 3개 추출
top3_avg_quantity = avg_quantity.sort_values(by='Quantity', ascending=False).head(3)

# 결과 출력
print("평균 구매 수량이 가장 높은 상위 3개 상품")
print(top3_avg_quantity)

평균 구매 수량이 가장 높은 상위 3개 상품
   Product  Quantity
17    자기계발       5.0
20      주스       5.0
24      커피       4.0

5. **시간 분석**
    1. 주문 날짜별로 **주별** 매출액을 계산하고 시각화하세요.
    2. 특정 기간(예: 2024년 1월 ~ 2024년 6월) 동안의 매출 추이를 분석하고 시각화하세요.
    3. 특정 국가에서 가장 많이 주문한 시간대를 분석하고, 이를 시각화하여 인사이트를 도출하세요.

6. **추가 분석**
    1. 고객의 **재구매율**을 분석하세요.
        - 재구매율 = 한 고객이 여러 번 주문한 비율
    2. 상품 카테고리별 **할인**을 적용한 판매 데이터를 사용하여 할인율이 높은 카테고리의 매출액을 분석하세요.