####자료구조
####리스트
특징
순서가 있는 데이터 구조

In [1]:
my_list = [1,2,3,4,'hello']
print(my_list)

[1, 2, 3, 4, 'hello']

In [2]:
my_list = [1,2,3,4,2]
print(my_list)

[1, 2, 3, 4, 2]

In [3]:
my_list[0]

1

In [4]:
my_list[2]
my_list.append(4)
print(my_list)

[1, 2, 3, 4, 2, 4]

In [6]:
tuple = (1,2,3,4,4)
print(tuple)

(1, 2, 3, 4, 4)

In [10]:
tuple = (1,2,3,4,4)
tuple[3] = '1'

TypeError: 'tuple' object does not support item assignment

In [13]:
dict = {
    'name' : '김진선',
    'age' : 20,
    'city' : '수원',
}
print(dict['name'])

김진선

In [16]:
dict['city']='서울'
print(dict['city'])
dict['job'] = 'student'
print(dict)

서울
{'name': '김진선', 'age': 20, 'city': '서울', 'job': 'student'}

In [17]:
dict2 = {
    'name' : '김진선2',
    'age' : 202,
    'city' : '수원2',
}
dict3 = {
    'name' : '김진선3',
    'age' : 203,
    'city' : '수원3',
}

In [20]:
print(dict3)

{'name': '김진선3', 'age': 203, 'city': '수원3'}

In [ ]:
##set  중복불허용, 순서가 없음

In [21]:
set = {1,2,3,4,5,1}
print(set)

{1, 2, 3, 4, 5}